/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 3; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: baskerville, Arial, Helvetica, sans-serif;
    color: blue;
}

h1 {
    font-size: 2.5rem;
    color: blue;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 3px solid pink;
}

header, main, footer {
    margin: 3rem auto;
    padding: .15rem;
    max-width: 540px;
}

header, footer, footer a {
    text-align: center;
    background-color: pink;
    color: black;
}

header img {
    width: 200px;
    height: auto;
    float: right;
}

footer {
    font-size: 12;
}